html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200vh;
}
.main{
	background-color: #000;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url("../img/No-Mans-Sky-Wallpaper-Link1.jpg");
	background-attachment: fixed;
	background-size: cover;
	align-items: center;
}

.bigguy{
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.header{
	width: 100%; 
	height: 266px;
}

.nav{
	width: 100%;
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.nav a{
	width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid black;
	border-width: 1px;
	transition: 0.3s;
}

a, a:link, a:visited {
	text-decoration: none;
}

.nav h1 {
	font-family: sans-serif;
	font-weight: lighter;
	color: black;
	font-size: 20px;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, 0.7);
	transition: 0.3s;
}

.section{

}

.section p, h2{
	padding: 0 100px 0 100px;
}
